.act-head {
    h1 {
        color: #17479E;
        font-size: 60px;
        line-height: 72px;
        padding: 25px 0;
        font-weight: 700;
    }

    h2 {
        color: #242424;
        font-size: 44px;
        line-height: 60px;
        padding: 15px 0;
        font-weight: 700;

        &.wht {
            color: #ffffff;
        }
    }
}

@include mobile {
    .act-head h1 {
        font-size: 32px;
        line-height: 40px;
        padding: 15px 0;
    }

    .act-head h2 {
        font-size: 34px;
        line-height: 50px;
    }
}